language: php

php:
  - 7.3
  - 7.4
  - 8.0
  - 8.1

before_script:
  - composer install --dev

script:
  - vendor/bin/phpstan analyse
  - vendor/bin/phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover